use Mix.Config

config :edge_builder,
  mailgun_domain: "{{ mailgun_domain }}",
  mailgun_from: "{{ mailgun_from }}",
  mailgun_api_key: "{{ mailgun_api_key }}"

config :edge_builder, EdgeBuilder.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "{{ dbname }}",
  username: "{{ dbuser }}",
  password: "{{ dbpassword }}",
  hostname: "localhost"

config :edge_builder, EdgeBuilder.Endpoint,
  url: [host: "swsheets.com"],
  secret_key_base: "{{ edgebuilder_secret_key_base }}"

config :edge_builder, EdgeBuilder.Router,
  session: [store: :cookie, key: "{{ edgebuilder_cookie_key }}"]
